{{define "status"}}
{{template "header" .}}
{{template "navigation" .}}

    <script>

    </script>

    <main>
        <h1>Состояние и подробная статистика по выполняемым операциям парсинга</h1>
        <br>
        <h2>В разработке....</h2>

        <details>
            <summary>Доп параметры</summary>

            <h3>Параметры отсутствуют</h3>
        </details>

    </main>


{{template "footer"}}
{{end}}