{{define "template"}}
{{template "header" .}}
{{template "navigation" .}}

    <script>

    </script>

    <main>
        <h1>Раздел сервиса отсутствует</h1>
        <br>
        <h2>Страница в разработке....</h2>

        <details>
            <summary>Доп параметры</summary>

            <h3>Параметры отсутствуют</h3>
        </details>

    </main>


{{template "footer"}}
{{end}}