/******************************************************************************************************************************/
/*                                              Common base                                                                   */
/******************************************************************************************************************************/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: url(/assets/font/PT_Sans-Web-Regular.woff2) format('woff2');
}

:root {
  /* Title-Header */
  --navi-header-text: #18171c;
  /* Navigation menu - Tabs */
  --navi-tab-background: #f3f3f3;
  --navi-tab-border: #e7e7e7;
  --navi-tab-active: #182978;
  --navi-tab-hovered: #ddd;
  /* Drop-down menu elements */
  --navi-menu-shadow: rgba(0,0,0,0.2);
  --navi-menu-background: #f9f9f9;
  --navi-menu-active: #6688cc;
  --navi-menu-hovered: #f1f1f1;
  /* Menu and tabs text */
  --navi-text: #666;
  --navi-text-active: white;
  --navi-text-hovered: black;
  
  /* Links */
  --links: midnightblue;

  /* Base panel as Background */
  --panel-background: #8ebbe0;
  --panel-background-border: gray;
  --panel-inner-form: #a7cceb;
  --panel-inner-tab-noactive: #ddd;
  --panel-inner-text-noactive: #666;
  --panel-inner-text: black;

  /* Base text */
  --text: black;

  /* Buttons */
  --btn-text: white;
  --btn-body: #3775dd;
  --btn-shadow: #21487f;
  --btn-hover: #182978;
  --btn-active: #2f599e;
  --btn-disabled: #6c87b5;



  /* Warnings block */
  --warning-border: red;
  --warning-text: brown;
  --warning-hovered: rgba(255, 225, 225, 0.700);
}





/* Reset style for all elements page */
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: var(--text);
}


/* Base style params */
html, body {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  height: 100%;
  min-width: 700px;
}


/* Base links style */
a, a:visited, a:link{
  color: var(--links);
}







/******************************************************************************************************************************/
/*                                               Navigation                                                                   */
/******************************************************************************************************************************/

/* Navigation titles */
.navi-title {
  padding: 5px;
  justify-content: center;
  text-align:center;
  color: var(--navi-header-text);
}

.navi-title hr {
background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
border: 0;
height: 1px;
margin: auto;
width: 50%;
} 


/* Navigation menu */
ul.navi {
    display: flex;
    justify-content:center;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: 1px solid var(--navi-tab-border);
    background-color: var(--navi-tab-background);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navi .inner-fill-area {
    overflow: hidden;
}

.navi li {
    float: left;
    font-weight: bold;
}


/* Navigation menu elements (links) and elements with dropdown lists */
.navi a, .navi .dropbtn {
    display: inline-block;
    color: var(--navi-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navi a:hover, .navi .dropdown:hover .dropbtn {
    background-color: var(--navi-tab-hovered);
    color: var(--navi-text-hovered);
}

.navi li.dropdown {
    display: inline-block;
}


/* Navigation dropdowns menu elements (links) */
.navi .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navi-menu-background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--navi-menu-shadow);
    z-index: 1001;
    overflow: visible;
    font-weight: normal;
}

.navi .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navi .dropdown-content a:hover {
    background-color: var(--navi-menu-hovered);
    color: var(--navi-text-hovered);
}

.navi .dropdown:hover .dropdown-content {
    display: block;
}


/* Navigation selected (active/current) element */
.navi .active {
    color: var(--navi-text-active);
    background-color: var(--navi-tab-active);
}

.navi .dropdown-content .active {
    background-color: var(--navi-menu-active);
}


/*****************************************************/










/******************************************************************************************************************************/
/*                                               Footer                                                                       */
/******************************************************************************************************************************/



footer {
  margin: 10px;
}


/*****************************************************/











/******************************************************************************************************************************/
/*                                               Main                                                                         */
/******************************************************************************************************************************/


main {
  margin: 10px;
  display: block;
}


/*****************************************************/









/******************************************************************************************************************************/
/*                                           Backplate and elements                                                           */
/******************************************************************************************************************************/


.backplate {
  align-items: center;
  background-color: var(--panel-background);
  position: relative;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid var(--panel-background-border);
}

.backplate .sbmtBtn {
  margin: 10px 50px;
}


/* labels style */
.backplate label {
  font-style: italic;
}



/* Checkbox element style */
.backplate .chBox {
  padding: 5px;
}

.backplate .chBox label{
  padding-left: 0.2em;
}

.backplate .chBox input[type="checkbox"]{
  transform: scale(1.6);
}




/*****************************************************/








/******************************************************************************************************************************/
/*                                           Tabs panel                                                                       */
/******************************************************************************************************************************/


.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
}

.tabs > label {
  background: var(--panel-inner-tab-noactive);
  color: var(--panel-inner-text-noactive);
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin-right: 0.3rem;
  padding: 1rem 2rem;
  transition: background ease 0.3s;
  width: auto;
  order: 1;
}

.tabs .tab-content {
  background: var(--panel-inner-form);
  display: none;
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
  order: 99;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: var(--panel-inner-form);
  color: var(--panel-inner-text);
}

.tabs input[type="radio"]:checked + label + .tab-content {
  display: block;
}

/*****************************************************/











/******************************************************************************************************************************/
/*                                           Submit button                                                                    */
/******************************************************************************************************************************/

.sbmtBtn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: var(--btn-text);
	background-color: var(--btn-body);
	box-shadow: 0 2px var(--btn-shadow);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
}
.sbmtBtn:hover {
	background-color: var(--btn-hover);
}
.sbmtBtn:active {
	background-color: var(--btn-active) !important;
}
.sbmtBtn:focus-visible {
	box-shadow: 0 0 0 3px;
}
.sbmtBtn:disabled {
	background-color: var(--btn-disabled);
	pointer-events: none;
}

/*****************************************************/















#index {
  justify-content: center;
  height: 200px;
}


.conf_list {
  margin: 10px;
}

.conf_list * {
  width: 150px;
  text-align: center;
}

.conf_list a:visited, .conf_list a:link, .conf_list a {
  color: var(--links)
}

.conf_list a:hover {
	text-decoration: none;
}



.gconf_list {
  margin: 5%;
  width: 100%;
  /*border: 1px solid red;*/

  display: flex;
  place-items: center;
}


.gconf_list form {
  width: 100%;
}


.width100 * {
  width: 100%;
}

.width100 input[type=file] {
  width: 130px;
}



.warningslines {
  width: 80%;
  margin: 20px auto;
  border: 1px solid var(--warning-border);
  border-radius: 10px;
  font-weight: bold;
  color: var(--warning-text);
  padding: 1% 1% 1% 2%;
}

.warningslines ul li:hover  {
  background-color: var(--warning-hovered);
}
















